//-==========================
  include
//-==========================
include ../_data/navs.pug
include ../_mixins.pug


//-==========================
  view
//-==========================
block meta
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
      
    |<?php wp_head();?>
  body
    //-==========================
      header
    //-==========================
    |<?php get_header(); ?>


    //-==========================
      main
    //-==========================
    main
      block contents


    //-==========================
      footer
    //-==========================
    |<?php get_footer(); ?>


    //-==========================
      offcanvas
    //-==========================
    |<?php get_template_part('parts/offcanvas') ?>


    //-==========================
      footer script
    //-==========================
    |<?php wp_footer();?>
