//-==========================
  extends
//-==========================
extends ./_layouts/layout-common.pug


//-==========================
  view
//-==========================
block contents

  section.uk-section
    .uk-container
      p.miyuki 404 not found 6
