
<div id="offcanvas" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close="uk-close"></button>
    <nav class="offcanvas-navigation"></nav>
  </div>
</div>